<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MusicNames</key>
	<array>
		<string>杨宗纬 - 其实都没有.mp3</string>
		<string>薛之谦-演员.mp3</string>
		<string>李荣浩-老街.mp3</string>
		<string>印子月-借过 (《旋风少女》电视剧插曲).mp3</string>
		<string>陈奕迅-不要说话.mp3</string>
		<string>bgm3.mp3</string>
	</array>
</dict>
</plist>
